---
- name: Gather IOS facts
  hosts: all
  gather_facts: false
  vars:
    ansible_connection: ''
    ansible_network_os: ''
    int_name: ''
    ip_address: ''
    secondary: ''

- name: Configuring {{int_name}} settings with {{ip_address}}
  ios_l3_interfaces:
    config:
      - name: "{{int_name}}"
        ipv4:
        - address: "{{ip_address}}"
          secondary: "{{secondary}}"
    state: replaced
