<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>File Field</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
{% for key, value in statvar.stat.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
{% endfor %}
    </tbody>
</table>
<td>{{ filechanges }}</td>

</body>
</html>
