y<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>System Type</th>
            <th>OS flavor</th>
            <th>Major Version</th>
            <th>Full Version</th>
            <th>Type of Machine</th>
            <th>Mmgt IP</th>
        </tr>
    </thead>
    <tbody>
{% for server in groups['all'] %}
        <tr>
            <td>{{hostvars[server]['inventory_hostname']}}</td>
            <td>{{hostvars[server]['ansible_system']}}</td>
            <td {% if hostvars[server]['ansible_distribution'] != 'RedHat' %}style="background:red;"{% endif %}>{{hostvars[server]['ansible_distribution']}}</td>
            <td>{{hostvars[server]['ansible_distribution_major_version']}}</td>
            <td>{{hostvars[server]['ansible_distribution_version']}}</td>
            <td>{{hostvars[server]['ansible_product_name']}}</td>
            <td>{{hostvars[server]['inventory_hostname']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
